<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;1,400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="stylesheet" href="assets/css/main.css">
    <link rel="shortcut icon" href="assets/images/favicon/favicon.ico" type="image/x-icon">
    <title>Avito Lite</title>
</head>
<body>
    <div class="wrapper">
        <header class="header">
            <div class="header-top">
                <div class="container">
                    <div class="row">
                        <div class="col col-sm-6 col-md-5 d-flex justify-content-start">
                            <div class="header-top-phone d-flex align-items-center h-100">
                                <i class="fa-solid fa-mobile-screen"></i>
                                <a href="tel:+1234567890" class="ms-2">123-456-7890</a>
                            </div>
                        </div>
                        <div class="col-md-2 d-none d-md-block">
                            <ul class="social-icons d-flex justify-content-center align-items-center h-100">
                                <li><a href=""><i class="fa-brands fa-youtube"></i></a></li>
                                <li><a href=""><i class="fa-brands fa-facebook"></i></a> </li>
                                <li><a href=""><i class="fa-brands fa-instagram"></i></a></li>
                            </ul>
                        </div>
                        <div class="col col-sm-6 col-md-5">
                            <div class="d-flex align-items-center justify-content-center h-100">
                                <div class="btn-group">
                                    <button type="button" class="order btn btn-primary btn-sm">Разместить обьявление</button>
                                </div>
                                <div class="btn-group">
                                    <div class="dropdown">
                                        <button class="btn btn-secondary dropdown-toggle btn-sm" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                        Account
                                        </button>
                                        <ul class="dropdown-menu">
                                            <li><a class="dropdown-item" href="#">Sign in</a></li>
                                            <li><a class="dropdown-item" href="#">Registration</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="btn-group">
                                    <div class="dropdown">
                                        <button class="btn btn-secondary dropdown-toggle btn-sm" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                        EN
                                        </button>
                                        <ul class="dropdown-menu">
                                            <li><a class="dropdown-item" href="#">RU</a></li>
                                            <li><a class="dropdown-item" href="#">DE</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div> <!--  header-top -->
            <div class="header-middle bg-white py-2">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 row" >
                            <div class="col">
                                <a href="layouts/index.blade.php" class="header-logo text-black h1"><img class="logo" src="assets/images/logo.png" alt=""></a>
                            </div>
                            <div class="cat col">
                                    <button class="btn-cat btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                                      Все категории
                                    </button>
                            </div>
                        </div>
                        <div class="col-md-6 row justify-content-start">
                            <div class="d-inline-flex col-8 align-items-center h-100">
                                <form action="">
                                    <div class="input-group">
                                        <input type="text" class="form-control" placeholder="Поиск по обьявлениям" aria-label="Recipient's username" aria-describedby="button-addon2">
                                        <button class="btn btn-outline-secondary" type="button" id="button-addon2">Search</button>
                                      </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        <div class="header-bottom sticky-top">
            <nav class="navbar navbar-expand-lg bg-dark" data-bs-theme="dark">
                <div class="container">
                    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="offcanvas offcanvas-start" id="offcanvasNavbar" tabindex="-1" aria-labelledby="offcanvasNavbarLabel">
                        <div class="offcanvas-header">
                            <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Catalog</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                        </div>
                        <div class="offcanvas-body">
                            <ul class="navbar-nav">
                                <li class="nav-item">
                                    <a class="nav-link active" aria-current="page" href="layouts/index.blade.php">Для бизнеса</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Вакансии</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Помощь</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Польза</a>
                                </li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" data-bs-auto-close="outside">
                                        Каталоги
                                    </a>
                                    <ul class="dropdown-menu dropdown-menu-end">
                                        <li>
                                            <a class="dropdown-item" href="#">Shoes</a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item" href="#">Jeans</a>
                                        </li>
                                        <li class="nav-item dropend">
                                            <a class="dropdown-item dropdown-toggle" href="#" data-bs-toggle="dropdown" data-bs-auto-close="outside">Sportswear</a>
                                            <ul class="dropdown-menu dropdown-menu-end">
                                                <li>
                                                    <a class="dropdown-item" href="#">Men's Sportswear</a>
                                                </li>
                                                <li>
                                                    <a class="dropdown-item" href="#">Women's Sportswear</a>
                                                </li>
                                                <li>
                                                    <a class="dropdown-item" href="#">Baby's Sportswear</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a class="dropdown-item" href="#">Coat</a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item" href="#">Shirts</a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="d-block d-lg-none">
                        <a href="#" class="btn p-1">
                            <i class="fa-solid fa-heart"></i>
                            <span class="badge text-bg-warning cart-badge bg-warning rounded-circle">3</span>
                        </a>

                        <button class="btn p-1" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasCart" aria-controls="offcanvasCart">
                            <i class="fa-solid fa-cart-shopping"></i>
                            <span class="badge text-bg-warning cart-badge bg-warning rounded-circle">5</span>
                        </button>
                    </div>

                </div>
            </nav>
        </div>
        <!-- ./header-bottom -->
</header>
        <main class="main">
            <div class="container">
                <h2>User:</h2>

                <p>My profile</p>
                <p>My setting</p>
                <p>My orders</p>

            </div>
        </main>

    </div>
        <footer class="footer">footer</footer>
    </div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
<script src="assets/js/main.js"></script>
</body>
</html>
